<!DOCTYPE html>
<html ng-app="myApp">
    <script type="text/javascript">
            var apiDomain = 'http://localhost:8000'
    </script>
    <head>
        <meta charset="UTF-8">
        <base href="/">
        <title>App</title>

        <!-- style -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css"></link>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
        <style>
          .thumbnail { height: 280px !important; }
          .btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
          .btn-draggable { width: 160px; }
        </style>
    </head>

    <body ng-controller="ChartsController">
        <center>
            <select ng-model="dc" ng-change="refreshOnDrop()">
                <option value="NA">NA</option>
                <option value="EU">EU</option>
                <option value="AS">AS</option>
            </select>
        </center>
        <div class="row">
            <div class="col-md-2">
                <span class="span3" style="margin-left:10px;">
                    <div class="thumbnail" data-drop="true" ng-model="list1" data-jqyoui-options="optionsList1" jqyoui-droppable="{multiple:true, onDrop:'refreshOnDrop'}">
                      <div class="caption">
                        <div class="btn btn-info btn-draggable" ng-repeat="item in list1" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},animate:true}">{{ item.title }}</div>
                      </div>
                    </div>
                </span>
            </div>
            <div id="container" class="col-md-8" data-jqyoui-options></div>
            <div class="col-md-2">
                <div class="navbar-inner">
                    <div class="form-inline" style="text-align: center;">
                        <div class="btn btn-droppable" ng-repeat="item in list5" data-drop="true" ng-model="list5" data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list5])'}"  jqyoui-droppable="{index: {{$index}}}">
                            <div class="btn btn-info btn-draggable" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list5" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">{{ item.title }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5"></div>
        <div class="contentWrapper ng-cloak col-md-2">
            <div class="content">
                <div class="row-fluid">
                    <span class="span3" style="margin-left:10px;">
                        <div class="thumbnail" data-drop="true" ng-model="list2" data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list2])'}"  jqyoui-droppable="{multiple:true, onDrop:'refreshOnDrop'}">
                            <div class="caption">
                                <div class="btn btn-info btn-draggable" ng-repeat="item in list2" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list2" jqyoui-draggable="{index: {{$index}},animate:true}">{{ item.title }}</div>
                            </div>
                        </div>
                    </span>
                </div>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </body>

    <footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
        <script src="/static/app.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
        <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0/angular-material.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://rawgit.com/codef0rmer/angular-dragdrop/master/src/angular-dragdrop.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    </footer>
</html>
