<!DOCTYPE html>
<html ng-app="myApp">
    <script type="text/javascript">
            var apiDomain = 'http://localhost:8000'
    </script>
    <head>
        <meta charset="UTF-8">
        <base href="/">
        <title>App</title>

        <!-- style -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>
            .lvl-over {
                /* applied to a drop target when a draggable object is over it */
                border: 2px dashed black !important;
            }

            .lvl-target {
                /* 
                applied to all drop targets when a drag operation begins 
                removed when the drag operation ends
                used to indicate drop targets on a page 
                */
                background-color: #ddd;
                opacity: .5;
            }

            [draggable] {
                /* not applied by the directive, but useful to indicate a draggable element */
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                cursor: move;
                border:1px solid black;
            }
        </style>
    </head>

    <body ng-controller="ChartsController">
        <center><h1> WELCOME TO CANADA! </h1></center>
        <div class="row">
            <div class="col-md-2">
                <span>Select a filter:&nbsp;</span>
                <select ng-model="yaxis" ng-change="refresh(xaxis, yaxis)">
                   <option value="impressions">impressions</option>
                   <option value="spend">spend</option>
                </select>
            </div>
            <div id="container" class="col-md-8" data-jqyoui-options></div>
        </div>
        <div class="row">
            <center>
                <div>
                    <span>Select a filter:&nbsp;</span>
                    <select ng-model="xaxis" ng-change="refresh(xaxis, yaxis)">
                        <option value="timestamp">timestamp</option>
                        <option value="impressions">impressions</option>
                        <option value="spend">spend</option>
                    </select>
                </div>
            </center>
        </div>
    </body>

    <footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
        <script src="http://localhost:8000/static/app.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
        <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0/angular-material.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
    </footer>
</html>
